<div mat-dialog-title>Employee Task Form</div>

<form [formGroup]="empForm" (ngSubmit)="onFormSubmit()">
  <div mat-dialog-content class="content">
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>First Name</mat-label>
        <input
          matInput
          type="text"
          placeholder="Ex. Ashish"
          formControlName="firstname"
        />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Last Name</mat-label>
        <input
          matInput
          type="text"
          placeholder="Ex. Mishra"
          formControlName="lastname"
        />
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Email Id</mat-label>
        <input
          matInput
          type="email"
          placeholder="Ex. Ashish@gmail.com"
          formControlName="email"
        />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Due Date</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="duedate" />
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>

    <div class="row">
      <mat-radio-group aria-label="Select an option" formControlName="gender">
        <mat-label><b>Gender</b></mat-label>
        <mat-radio-button value="male">Male</mat-radio-button>
        <mat-radio-button value="female">Female</mat-radio-button>
        <mat-radio-button value="other">Other</mat-radio-button>
      </mat-radio-group>
    </div>

    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Category</mat-label>
        <mat-select formControlName="category">
          <mat-option *ngFor="let category of category" [value]="category">{{
            category
          }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Company</mat-label>
        <input
          matInput
          type="text"
          placeholder="Ex. Facebook"
          formControlName="company"
        />
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Task</mat-label>
        <input
          matInput
          type="text"
          placeholder="Ex.Travel to Ladakh"
          formControlName="task"
        />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Status</mat-label>
        <mat-select formControlName="status">
          <mat-option *ngFor="let status of status" [value]="status">{{
            status
          }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div mat-dialog-actions class="action">
    <button mat-raised-button color="primary" type="submit">
      {{ data ? "Update" : "Save" }}
    </button>
    <button
      mat-raised-button
      color="warn"
      type="button"
      [mat-dialog-close]="false"
    >
      Cancel
    </button>
  </div>
</form>
